<div class="card-wrapper col-lg-4">
	<div class="for-style">
	<div class="imagine-post" style="background-image: url(/assets/images/{{ post.image }})">
		{% if post.category %}
		<a href="{{site.url }}/{{ post.category }}/index.html"><span class="categ">{{ post.category | upcase }}</span></a>
		{% endif %}
	</div>
	<div class="footer-post">
		<h4>{{ post.title }}</h4>
		<p>{{ post.descriere }}</p>
		<hr>
		<a href="{{ post.url }}"><button>Citeste</button></a>
		<div class="author-thumb" style="background-image: url(/assets/images/pintea.jpg)"></div>
	</div>
	</div>
</div>

<style>
	.categ {
		background-color: transparent;
    background-image: linear-gradient(260deg, #8062d4 0%, #41dcab 100%);
		color: white;
		font-weight: 500;
    padding: 1px 5px;
    border-radius: 3px;
    margin-left: 5px;
		margin-top: 5px;
		font-size: 13px;
	}
	.author-thumb {
		width: 50px;
    height: 50px;
    float: right;
    background-size: cover;
    border-radius: 100px;
    box-shadow: 0 0 8px lightgrey;
    border: solid #41dcab;
    position: relative;
    bottom: 7px;
	}
	.for-style {
		border: 1px solid #dddddd7d;
    box-shadow: 0 0 20px #F0F0F0;
		border-radius: 4px;
	}
	.card-wrapper {
		padding-left: 10px;
		padding-bottom: 20px;
	}
	.for-style:hover {
		box-shadow: 0 0 0 0 white;
		transition: all 0.5s;
	}
	.imagine-post {
		height: 215px;
		background-size: cover;
		background-repeat: no-repeat;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-position: center;
	}
	.imagine-post a:hover {
		text-decoration: none;
	}
	.footer-post {
		padding: 15px;
	}
	.footer-post hr {
		margin-top: 0;
	}
	.footer-post h4 {
		font-size: 18px;
		font-weight: 700;
		height: 2.3em;
    overflow: hidden;
	}
	
	.footer-post p {
		margin-bottom: 10px;
		height: 44px;
		overflow: hidden;
		line-height: 1.7;
    font-size: 13px;
		font-style: italic;
	}
	.footer-post button {
		background-color: transparent;
    background-image: linear-gradient(260deg, #8062d4 0%, #41dcab 100%);
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
		border: none;
		color: white;
		border-radius: 3px;
		text-transform: uppercase;
		padding: 7px 16px;
		font-weight: 600;
	}
	.footer-post button:hover {
		box-shadow: none;
	}

</style>