<header class="site-header" role="banner">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
    <img src="{{ site.url }}/assets/images/logo.png" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index.html">ACASA <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      TUTORIALE INTERNET SI TEHNOLOGIE
    </span>
  </div>
</nav>
</header>

<style>
	.nav-link {
		text-transform: uppercase;
		font-weight: 700;
		border: solid 1px white;
		border-radius: 4px;
		padding: 3px 5px;
		transition: all 1s;
	}
	.nav-link:hover {
		color: black !important;
		background: white;
	}
	@media(max-width: 600px) {
		.nav-link {
	border: none;
	}
} 
</style>

