<div class="col-12 wrapper-side order-lg-12" style="padding: 0;">
<div id="sidebar">
<div class="col review-side">
    <h5 class="title-section-sidebar">RECENT</h5>
		<hr>
	{% assign posts = site.posts  %}
	{% for post in posts %}
	<div class="small-wrapper">
	<a href="{{ post.url }}">
	<div class="small-post">
	<img class="small-post-image" src="{{ site.url }}/assets/images/{{ post.image }}">
	{{ post.title }}
	</div>
	<span class="small-post-meta"><i class="fa fa-user" aria-hidden="true"></i> alexpintea </span>
	<span class="small-post-meta"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} </span>
	</a>
	</div>
	{% endfor %}
 </div> 
	
	</div>	
</div>

<style>
	a:hover {
		text-decoration: none;
		color: darkgreen !important;
	}
	.small-wrapper {
		border-bottom: solid 1px lightgray;
    height: 63px;
    margin-bottom: 10px;
	}
	.small-post {
		overflow: hidden;
    font-size: 11px;
    margin-bottom: 13px;
    max-height: 39px;
    height: 42px;
    font-weight: 500;
		font-style: italic;
		color: black;
		line-height: 1;
	}
	.small-post-image {
		max-width: 25%;
    border-radius: 4px;
    float: left;
    margin-right: 10px;
	}
	.small-post-meta {
		position: relative;
    top: -19px;
    font-size: 11px;
    font-style: italic;
    color: black;
		margin-right: 4px;
	}
	.line-sub {
		margin-bottom: 10px;
	}
	.title-section-sidebar {
		font-weight: 900;
		display: inline;
    border-bottom: solid black;
    padding-bottom: 21px;
	}
	
</style>